    <div class="main-contents">
      <div class="second-view">
        <div class="profiles", class="profiles2">
          <div class="mybios">
            <h1 class="titlebios">Who is <span class="start">A</span>sh?</h1>
              <div class="introduction">
                  <div class="japanese-intro">
                    <p class="spacing">Ash / Atsushi Mizumoto<br>
                    1996年生まれ  見習いクリエイター<br>
                    大学卒業後様々な価値観や出来事に触れ、プログラミング学習を決意<br>
                    それを機にエンジニア、デザイナー、アーティストなどのクリエイティブな物事に興味を持つ<br>
                    全てにおいて駆け出し真っ只中<br>
                    一人でも多くの人に笑顔と人生へのワクワクを感じてもらうために日々精進中<br>
                    </p>
                  </div>
                  <div class="english-intro">
                      <p class="spacing">Born in 1996. A super junior creator who started learning coding in 2020.<br>
                      Since then, has started to interest creativity skills like engineering, designing, arts.<br>
                      From those experiences, realized what he wants to accomplished in his life.<br>
                      In recent days,is hoping his mind, style could help people's lives, smiles.<br>
                      Providing engineer skills with great communication and some humor.<br>
                      His favorite words, motto is "Greatness from Small Beginnings"<br>
                      </p>
                  </div>
          </div>

          </h3>
          <div class="profile-background"></div>
          <img src="assets/profile" class="profile-photo" class="position">
          </div>
        </div>
      </div>
    </div>