    <div class="main-contents">
      <div class="second-view">
      <div class="background-gray">
        <h1 class="topic"><span class="start">M</span>ind Garage</h1>
        <h2 class="announce">comming...soon..</h2>
        </div>
      </div>
    </div>