<div class="blog-view2">
  <div class="contents row slide">
    <div class="content_post" style="background-image: url(<%= @blog.image %>);">
    <p><%= @blog.title %></p>
    <span class="name"><%= @blog.created_at %>
    </span>
  </div>

  <div class="contents row">
    <div class="content_post" >
    <div class="blog-content"><%= @blog.content %>
    </div>
  </div>
</div>