    <div class="main-contents">
      <div class="second-view">
      <div class="background-gray">
        <div class="topic"><span class="start">C</span>ontact</div>
        <div class="announce">comming...soon..</div>
      </div>
      </div>
      </div>
    </div>