<h5>お問い合わせ内容</h5>

<p>------------------------------</p>

<p>NAME <%= @contact.name %></p>

<p>E-MAIL <%= @contact.email %></p>

<p>TOPIC <%= @contact.message%></p>

<p>------------------------------</p>