.bottom-content2 {
  height: 650px;
  margin: 0 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announce{
  position: absolute;
  top: 255px;
  left: 420px;
  font-size: 100px;
  color: #fdfdfd;
  font-family: serif;
  animation: SlideIn 2.0s;
}